[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/wellsokai"]
	path = bundle/wellsokai
	url = https://github.com/wellsjo/wells-colorscheme.vim.git
[submodule "bundle/railscasts-theme"]
	path = bundle/railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-hack"]
	path = bundle/vim-hack
	url = git://github.com/hhvm/vim-hack.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-swift"]
	path = bundle/vim-swift
	url = https://github.com/toyamarinyon/vim-swift.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-es6"]
	path = bundle/vim-es6
  url = https://github.com/isRuslan/vim-es6.git
[submodule "bundle/vim-jsx"]
  path = bundle/vim-jsx
  url = https://github.com/mxw/vim-jsx.git
