[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/wellsokai"]
	path = bundle/wellsokai
	url = https://github.com/wellsjo/wells-colorscheme.vim.git
[submodule "bundle/railscasts-theme"]
	path = bundle/railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
